<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecreator.dao.mapper.module.ModuleMapper">

    <resultMap id="BaseResultMap" type="com.futurecreator.dao.pojo.module.Module">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ModuleResultMap" type="com.futurecreator.dao.pojo.module.R.ModuleR">
        <id property="id" column="m_id" jdbcType="BIGINT"/>
        <result property="name" column="m_name" jdbcType="VARCHAR"/>
        <result property="description" column="m_description" jdbcType="VARCHAR"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <collection property="interfaces" ofType="com.futurecreator.dao.pojo.module.R.InterfaceR">
            <id property="id" column="i_id" jdbcType="BIGINT"/>
            <result property="name" column="i_name" jdbcType="VARCHAR"/>
            <result property="description" column="i_description" jdbcType="VARCHAR"/>
            <result property="amount" column="i_amount" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <select id="getAllModuleR" resultMap="ModuleResultMap">
        select
            m.id as m_id,
            m.description as m_description,
            m.name as m_name,
            create_user,
            i.id as i_id,
            i.description as i_description,
            i.name as i_name,
            amount as i_amount
        from module m inner join interface i on m.id = i.module_id
    </select>

    <select id="getModuleRByName" resultMap="ModuleResultMap">
        select
            m.id as m_id,
            m.description as m_description,
            m.name as m_name,
            create_user,
            i.id as i_id,
            i.description as i_description,
            i.name as i_name,
            amount as i_amount
        from module m inner join interface i on m.id = i.module_id
        where m.name=#{name}
    </select>
</mapper>
