<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecreator.dao.mapper.provider.ProviderMapper">

    <resultMap id="BaseResultMap" type="com.futurecreator.dao.pojo.provider.Provider">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="vxAccount" column="vx_account" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="isUserValid" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1 FROM provider
                       WHERE  phone = #{phone,jdbcType=VARCHAR}
                         AND password = #{password,jdbcType=VARCHAR} limit 1
                   ) AS result;
    </select>

    <update id="updateProviderByPhone">
        update provider
        <set>
            <if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
            <if test="password != null">password=#{password,jdbcType=VARCHAR},</if>
            <if test="vxAccount != null">vx_account = #{vxAccount,jdbcType=VARCHAR},</if>
        </set>
        where phone = #{phone,jdbcType=VARCHAR}
    </update>

</mapper>
